:root {
    --primary-color: #86B3EE;
    --secondary-color: #F6D785;
    --accent1-color: #5B3D1E;
    --accent2-color: #90903E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tinos, Yrsa;
}

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }

  .yrsa-secondary {
    font-family: "Yrsa", serif;
    font-weight: 300;
    font-style: normal;
  }

.logo img {
    width: 10%;
    height: auto;
}


.hero {
    position: relative;
}
.hero img {
    width: 88%;
    display: block;
    height: auto;
    margin-left: 100px;
    border-radius: 5%;
    
}

.hero h1 {
    color: white;
    background-color: var(--accent1-color);
    position: absolute;
    left: 100px;
}

article img {
    float:right;
}

article{
    position: absolute;
    width: 87%;
    top: 275px;
    left: 108px;
    text-align:center;
    opacity: 95%;
    background-color: #86b3eea3;
    height: auto;
   
}
h2 {
    color: var(--primary-color);
    background-color: var(--accent1-color);
    opacity: 60%;

}
p {
    padding: 0;
    color: var(--accent1-color);
}
footer {
    border-top: 5px dotted #BFBEDD;
    padding: 1rem;
}
.socialmedia img {
    width: 5%;
}
.socialmedia a {
    text-decoration: none;
}
.hero article img{
    width: 15%;
}

