nav {
    background-color: rgb(82, 82, 157);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {padding: 0;}
main {
    max-width: 840px;
}
aside{
    width: 15rem;
    margin: 1rem;
    border: 3px solid navy;
    padding: 1rem;
    background-color: brown;
    color: tan;
}
aside img {
    width: 200px;
    height: auto;

}
main img {
    width: 150px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 3px dotted black;
    text-align: center;
}